<div class="searchArea">
  <% for (let i = 0; i < mainSearchFields.length; i++) {
  %><%
    if (!mainSearchFields[i].properties.includes('showable')) continue; %>
  <div class="form-group">
    <label><%=mainSearchFields[i].name%></label>
    <% if (mainSearchFields[i].type === 'date') {
    %><datetime [(ngModel)]="currentSearchParams.<%=mainSearchFields[i].name%>" [timepicker]="false" [datepicker]="datepickerOptions"></datetime><%
  } else if (mainSearchFields[i].type === 'datetime') {
    %><datetime [(ngModel)]="currentSearchParams.<%=mainSearchFields[i].name%>" [datepicker]="datepickerOptions"></datetime><%
  } else {%><input type="text" [(ngModel)]="currentSearchParams.<%=mainSearchFields[i].name%>"><% } %>
  </div>
  <% } %><%
  if(mainSearchFields.length === 0) {
  %><%
  for (let i = 0; i < searchableFields.length; i++) {
  %><%
    if (!searchableFields[i].properties.includes('showable')) continue; %>
  <div class="form-group">
    <label><%=searchableFields[i].name%></label>
    <% if (searchableFields[i].type === 'date') {
    %><datetime [(ngModel)]="currentSearchParams.<%=searchableFields[i].name%>" [timepicker]="false" [datepicker]="datepickerOptions"></datetime><%
  } else if (searchableFields[i].type === 'datetime') {
    %><datetime [(ngModel)]="currentSearchParams.<%=searchableFields[i].name%>" [datepicker]="datepickerOptions"></datetime><%
  } else {%><input type="text" [(ngModel)]="currentSearchParams.<%=searchableFields[i].name%>"><% } %>
  </div>
  <% } %><% } %>
  <button class="btn btn-primary round-button" (click)="search()">
    <i class="fa fa-search fa-2x" aria-hidden="true"></i>
  </button>
</div>

<div class="columnDirection scroller">
  <<%= listItemComponentTagName %> *ngFor="let item of <%= modelInPlural %>" [<%= model %>]="item" (modalToggle)="modalToggle($event)">
  </<%= listItemComponentTagName %>>
</div>

<div class="pageNumbers" *ngIf="<%= modelInPlural %> && <%= modelInPlural %>.length > 0">
    <pagination [totalItems]="totalCount" [(ngModel)]="currentPage" [maxSize]="maxVisible"
      [itemsPerPage]="pageSize" class="pagination-sm" [boundaryLinks]="true" [rotate]="false"
      (pageChanged)="pageChanged($event)"></pagination>
</div>

<div class="modal fade" bsModal #<%= model %>AddModal="bs-modal" [config]="{backdrop: 'static'}"
    tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close pull-right" aria-label="Close" (click)="<%= model %>AddModal.hide(); onAddCancel();">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <% for (let i = 0; i < fields.length; i++) { %>
            <% if (!fields[i].properties.includes('showable')) continue; %>
          <div class="form-group">
            <label><%=fields[i].name%></label>
            <% if (fields[i].type === 'date') {
            %><datetime [(ngModel)]="<%= model %>ToAdd.<%=fields[i].name%>" [timepicker]="false" [datepicker]="datepickerOptions"></datetime><%
            } else if (fields[i].type === 'datetime') {
            %><datetime [(ngModel)]="<%= model %>ToAdd.<%=fields[i].name%>" [datepicker]="datepickerOptions"></datetime><%
            } else {%><input type="text" [(ngModel)]="<%= model %>ToAdd.<%=fields[i].name%>"><% } %>
          </div>
          <% } %>
        </div>
        <div class="modal-footer">
          <button class="btn-primary roundButton" (click)="<%= model %>AddModal.hide(); onAddSave();">
            <i class="fa fa-floppy-o fa-2x" aria-hidden="true"></i>
          </button>
          <button class="fab roundButton" (click)="<%= model %>AddModal.hide(); onAddCancel();">
            <i class="fa fa-times fa-2x" aria-hidden="true"></i>
          </button>
        </div>
      </div>
  </div>
</div>

<div class="modal fade" bsModal #<%= model %>EditModal="bs-modal" [config]="{backdrop: 'static'}"
    tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="<%= model %>EditModal.hide(); modalInfo.cancel();">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% for (let i = 0; i < fields.length; i++) { %>
          <% if (!fields[i].properties.includes('showable')) continue; %>
        <div class="form-group">
          <label><%=fields[i].name%></label>
          <% if (fields[i].type === 'date') {
          %><datetime [(ngModel)]="this.modalInfo.<%= model %>.<%=fields[i].name%>" [timepicker]="false" [datepicker]="datepickerOptions"></datetime><%
          } else if (fields[i].type === 'datetime') {
          %><datetime [(ngModel)]="this.modalInfo.<%= model %>.<%=fields[i].name%>" [datepicker]="datepickerOptions"></datetime><%
          } else {%><input type="text" [(ngModel)]="this.modalInfo.<%= model %>.<%=fields[i].name%>"><% } %>
        </div>
        <% } %>
      </div>
      <div class="modal-footer">
        <button class="btn-primary roundButton" (click)="<%= model %>EditModal.hide(); onEditSave();">
          <i class="fa fa-floppy-o fa-2x" aria-hidden="true"></i>
        </button>
        <button class="fab roundButton" (click)="<%= model %>EditModal.hide(); modalInfo.cancel();">
          <i class="fa fa-times fa-2x" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</div>
